DirectoryIndex homePage.php?lan=en

ErrorDocument 404 /articlesWebsite/error_404.html

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f


#RewriteRule ^([^\.]+)$ $1.php [NC,L]

#RewriteRule ^a$ homePage.php [NC,L]
#RewriteRule ^art/(.*) articlesWebsite/$1

RewriteRule ^login-page$ login.php [NC,L]
RewriteRule ^registration-page$ registration.php [NC,L]
#RewriteRule ^form-create-article formCreateArticle.php [NC,L]
RewriteRule ^(.*)/form-create-article formCreateArticle.php?lang=$1 [NC,L]
RewriteRule ^(.*)/update-article$ formUpdateArticles.php?lang=$1 [NC,L]
RewriteRule ^(.*)/my-profile$ owlCarousel.php?lan=$1 [NC,L]
RewriteRule ^(.*)/carousels$ carousels.php?lan=$1 [NC,L]
RewriteRule ^forgot-password$ forgotPwdForm.php [NC,L]

#modified retreive desc
#RewriteRule ^retreive-description/([0-9]+)/([0-9a-zA-Z_-]+) retreiveDesc.php?q=$1&url=$2 [L]
RewriteRule ^(.*)/retreive-description/([0-9a-zA-Z_-]+) retreiveDesc.php?lang=$1&url=$2 [L]
RewriteRule ^(.*)/retreive-description-ID retreiveDescByID.php?q=$1 [L]
#retreivedesc.php?url=/test-url

#RewriteRule ^retreiveDesc/([0-9]+) retreiveDesc.php?q=$1 [L]
RewriteRule ^(.*)/home-page$ homePage.php?lan=$1 [NC,L]
RewriteRule ^(.*)/test-file$ testfile.php?lan=$1 [NC,L]
RewriteRule ^(.*)/jquery.js$ jquery.js?n=$1 [NC,L]
RewriteRule ^(.*)/form-language$ formlanguages.php?lan=$1 [NC,L]
RewriteRule ^(.*)/form-edit-language$ formEditLanguage.php?la=$1 [NC,L]
RewriteRule ^(.*)/add-keyword$ createKeyword.php?lan=$1 [NC,L]


#RewriteRule ^retreiveDesc/([a-zA-z]+) http://localhost:8888/articlesWebsite/$1 [L]
#RewriteRule ^retreiveDesc/([a-zA-z]+) http://localhost:8888/articlesWebsite/$1 [NC,L]




