.button {
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    }
  
h1{ 
    color:black; 
    text-align:center; 
    } 

/*main{
               
    margin-left: 150px;
    margin-right: 100px;
 
    border-radius: 20px;
  
    padding: 110px;
     }*/

.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

header {
  padding: 1em;
  display: flex;

  align-items: left;
  background-color: rgba(160, 81, 45, 0.116);
}


header nav a {
  margin: 5px;
  font-size: 14px;
}


