.button {
    background-color: red; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    }
  
h1{ 
    color:black; 
    text-align:center; 
    } 


header {
  padding: 1em;
  display: flex;

  align-items: center;
  background-color: rgba(160, 81, 45, 0.116);
}

header nav{
flex: 1;
}
header nav a {
  margin: 5px;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #2e2e2e;
}
a:hover {
  color: crimson;
}

.pagination{
  margin-left: 800px;
}

  

@media(max-width: 576px){
   .pagination{
margin-left: 200px;
 }

 .buttonHome{
     background-color: red; 
     padding: 15px 32px;
     margin-left: 50px;
     color: white;


  
  }

 



   .textContainer input{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 200px;
    padding-right: 200px;
    margin-right: : 500px;
    margin-left: 10px;


  }

  .profile .card{
background-color: white;
margin-bottom: 50px;
  }

  .button{
    margin-left: 350px;
  }



}
@media(min-width: 577px){
  .profile .card{
    margin-top: 30px;
  margin-bottom: 120px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: white;
  
  padding-bottom: 20px;
}


  .profile .button{
   


margin-left: 1200px;
margin-right: 50px;
    
   
  }

  .profile input{
    margin-left: 50px;
  }



  .buttonHome{
     background-color: red; /* Green */
  
    color: white;
    padding: 15px 32px;
    text-align: center;
   
  
    font-size: 16px;
  }



  /*.profile .card .bspan{
    flex-direction: row;
  }*/
}

/*main{
               
    margin-left: 150px;
    margin-right: 100px;
 
    border-radius: 20px;
  
    padding: 110px;
     }*/

.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

header {
  padding: 1em;
  display: flex;

  align-items: left;
  background-color: rgba(160, 81, 45, 0.116);
}


header nav a {
  margin: 5px;
  font-size: 14px;
}


