@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
header {
  padding: 1em;
  background-color: rgba(160, 81, 45, 0.116);
}

body {
  background-color: rgba(160, 81, 45, 0.116);
  font-family: "Open Sans", sans-serif;
}

.navDesktop {
  visibility: visible;
}
.navDesktop a {
  text-decoration: none;
  color: black;
  margin-right: 10px;
  margin-bottom: 30px;
}
.navDesktop a:hover {
  color: crimson;
  padding: 10px;
}

#searchUser {
  padding-right: 200px;
  padding-bottom: 10px;
}

#menu {
  width: 35px;
  height: 30px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #b81568;
  transition: 0.7s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.change .bar {
  background-color: #b81568;
}
.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}
.change #bar2 {
  opacity: 0;
}

.nav {
  padding: 0;
  margin: 0 20px;
  transition: 0.7s ease;
  display: none;
}
.nav li {
  list-style: none;
  padding: 16px 0px;
}
.nav li a:hover {
  font-weight: bold;
}
.nav li a {
  color: black;
  text-decoration: none;
}

.change {
  display: block;
}

.buttonHome {
  background-color: red;
  padding: 15px 32px;
  /*margin-left: 50px;*/
  color: white;
  margin-left: 30px;
}

.loginBtn {
  background-color: red;
  padding: 15px 32px;
  /*margin-left: 50px;*/
  color: white;
  padding-right: 157px;
  padding-left: 157px;
  margin-left: 40px;
}

.registerBtn {
  background-color: red;
  padding: 15px 32px;
  /*margin-left: 50px;*/
  color: white;
  padding-right: 150px;
  padding-left: 150px;
  margin-left: 40px;
}

.pagination {
  margin-left: 800px;
}

.profile {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.profile .card {
  background-color: white;
  margin-bottom: 20px;
  width: 100%;
}

.textContainer {
  margin-left: 600px;
}
.textContainer input {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 200px;
  padding-right: 200px;
  margin-right: 500px;
  margin-left: 10px;
}

#menu {
  display: none;
}

@media (max-width: 650px) {
  .navDesktop {
    visibility: hidden;
  }

  #menu {
    display: block;
  }

  .textContainer {
    margin-left: 0px;
  }

  .profile .card {
    align-self: stretch;
    flex-basis: 100%;
  }

  #searchUser {
    padding-right: 350px;
  }

  .pagination {
    margin-left: 200px;
  }
}
@media (min-width: 651px) and (max-width: 899px) {
  .pagination {
    margin-left: 400px;
  }

  .profile .card {
    width: 45%;
  }

  .textContainer {
    margin-left: 160px;
  }

  #menu {
    display: none;
  }
}
@media (min-width: 900px) {
  .profile .card {
    margin-left: 200px;
    margin-right: 200px;
  }

  #searchUser {
    margin-left: 1350px;
  }

  .form {
    margin-left: 650px;
  }
}
/* body{
	background: white;
} */
.frm {
  width: 50%;
  border-radius: 5px;
  margin-top: 50px;
  /* background-color: #eee; */
  padding: 30px;
  text-align: center;
}

/*.frm input{

    padding-left: 90px;
    padding-right: 90px;
    margin-left: 280px;


  }*/
.loginBtn a {
  text-decoration: none;
  color: white;
}

@media (min-width: 900px) {
  .frm {
    margin-left: 400px;
    padding-bottom: 250px;
    padding-top: 250px;
  }

  .frm input {
    padding-left: 90px;
    padding-right: 90px;
    margin-left: 280px;
  }
}
@media (min-width: 577px) and (max-width: 899px) {
  .frm input {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 90px;
    padding-right: 90px;
    margin-left: 50px;
  }

  .frm {
    padding-top: 30px;
    margin-left: 200px;
    padding-bottom: 300px;
  }
}
@media (max-width: 576px) {
  .frm {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 75px;
    padding-top: 160px;
    padding-right: 400px;
    padding-bottom: 110px;
    margin-left: 0px !important;
    width: 30%;
  }

  .frm label {
    margin-left: 200px;
  }

  .frm input {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 140px;
    padding-right: 140px;
    margin-right: 500px;
  }

  .frm table {
    margin-left: 0px;
  }

  .frm button a {
    text-align: center;
  }
}